body {
    background-color: #120f20;
}

h1, h2, h3, h4, h5, h6, p {
    color: #ad7ecc;
}

#hi {
    display: grid;
    justify-content: center;
}

#card {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#card.open {
    animation: card_open 1s forwards;
}

#card.close {
    animation: card_close 1s forwards;
}

@keyframes card_open {
    from {
        top: 100px;
    }
    to {
        top: 600px;
    }
}

@keyframes card_close {
    from {
        top: 600px;
    }
    to {
        top: 100px;
    }
}

#top {
    width: 0;
    height: 0;
    border-left: 48vw solid transparent;
    border-right: 48vw solid transparent;
    border-top: 160px solid #1a1435;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#top.open {
    animation: flip_open 1s forwards;
}

#top.close {
    animation: flip_close 1s forwards;
}

@keyframes flip_open {
    from {
        transform: translateX(-50%) rotateX(0deg);
        top: 0;
    }
    to {
        transform: translateX(-50%) rotateX(180deg);
        top: -160px;
    }
}

@keyframes flip_close {
    from {
        transform: translateX(-50%) rotateX(180deg);
        top: -160px;
    }
    to {
        transform: translateX(-50%) rotateX(0deg);
        top: 0;
    }
}

#heart {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
}

#top_side {
    display: inline-flex;
}

#left, #right, #center {
    position: relative;
    height: 75px;
    width: 75px;
    background-color: #ad7ecc;
}

#left, #right {
    border-radius: 50%;
}

#left {
    left: 5%;
}

#right {
    left: -5%;
}

#center {
    left: 44.5%;
    transform: translate(-71%, -16%);
    rotate: 45deg;
    border-top-left-radius: 100%;
    top: -3px;
}

#bottom {
    position: absolute;
    top: 0;
    height: 290px;
    width: 100%;
    background-color: #1a1435;
}

.triangle {
    position: absolute;
    height: 0;
    width: 0;
    z-index: 1;
}

#triangle_left {
    border-top: 145px solid transparent;
    border-left: 50vw solid #221a43;
    border-bottom: 145px solid transparent;
}

#triangle_bottom {
    border-left: 48vw solid transparent;
    border-right: 49vw solid transparent;
    border-bottom: 20vh solid #221a43;
    bottom: 0;
}

#triangle_right {
    border-top: 145px solid transparent;
    border-right: 50vw solid #221a43;
    border-bottom: 145px solid transparent;
    right: 0;
}

#message {
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    top: -170px;
    width: 85%;
    background: #1a1434; /*1a1434*/
    padding: 20px;
    border-radius: 25px;
    z-index: 1;
    opacity: 0;
}

#message.show {
    animation: message_show 1s forwards;
}

#message.hide {
    animation: message_hide 1s forwards;
}

@keyframes message_show {
    from {
        top: -170px;
        opacity: 0;
    }
    to {
        top: -650px;
        opacity: 1;
    }
}

@keyframes message_hide {
    from {
        top: -650px;
        opacity: 1;
    }
    to {
        top: -170px;
        opacity: 0;
    }
}

@media (min-width: 380px) {
    @keyframes message_show {
        from {
            top: -170px;
            opacity: 0;
        }
        to {
            top: -350px;
            opacity: 1;
        }
    }
}